*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
#geral{
    max-width: 980px;
    min-width: 550px;
    max-height: 100%;
    min-height: 500px;
    margin: 20px auto;
    background-color: rgba(210, 232, 253, 0.329);
}
#cabeçalho{
    height: 150px;
    background-image: url(imagens/cabecalho2.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size:cover ;
    box-shadow: 1px 0.1px 3px black;

}

#conteudo{
    width: 74%;
    float: right;
}
#conteudo1{
    width: 64%;
    height: 80%;
    float: left;
    
}
#conteudo1 img{
    width: 94%;
    padding: 2%;

}
#geral #conteudo2{
    background-color: #bfcdf891;
    width: 34%;
    height: 360px;
    float: right;
    box-shadow: 1px 0.1px 3px black;

}
#conteudo1 p, #conteudo2 p{
    text-align: justify;
    padding: 10px;
}
#conteudo1 h2, #conteudo2 h2{
    color: rgba(33, 33, 252, 0.76);
    text-align: center;
}
#cabeçalho h1{
    text-align: center;
    padding-top: 60px;
    text-shadow: 2px 10px 10px #000000;
    color: #00c0fa;
}
#menu{
    width: 24%;
    height: 360px;
    background-color: #bfcdf891;
    float: left;
    box-shadow: 1px 0.1px 3px black;

}
ul{
    list-style: none;
}
li a {
    text-decoration: none;
    padding: 30px 0px 0px 30px;
    
    font-size: 17px;
    line-height: 22px;
}
#foot{
    background-color: #bfcdf891;
    padding: 10px;
    box-shadow: 1px 0.1px 3px black;
    clear: both;

}